@font-face {
    font-family: 'iA Writer Mono S';
    src: url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
};

@font-face {
    font-family: 'iA Writer Mono';
    src: url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Italic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
};

@font-face {
    font-family: 'iA Writer Mono';
    src: url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
};

@font-face {
    font-family: 'iA Writer Mono';
    src: url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-BoldItalic.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/talovsky/iA-Fonts@master/ia-writer-mono/Webfonts/iAWriterMonoS-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
};
